/* google fonts - Work Sens */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* universal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-gradient: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  --secondary-gradient: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --primary-color: #534c64;
  --secondary-color: #0b0223;
  --info-color: #4ec5f7;
}

/* shared  */
.container {
  max-width: 1940px;
  margin: 0 auto;
  padding: 0 15rem;
}
/* normal description */
.text-description {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 500;
}
/* primary button */
.btn-primary {
  color: #fff;
  background: var(--primary-gradient);
  border: 0;
  border-radius: 48px;
  padding: 1.25rem 2.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}
/* section title */
.section-title {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 700;
}
/* section description */
.section-description {
  color: var(--primary-color);
  font-size: 1.125rem;
  font-weight: 400;
  margin: 1.5rem 0 2rem 0;
}
.title-span {
  background: var(--secondary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-span-2{
    background: var(--primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* margin top and margin bottom for each section */
.section {
  margin: 7.5rem 0;
}
/* navbar style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 15rem;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/* navbar logo section style */
.logo-container {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

/* navbar title style */
.logo-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.logo-title-initial {
  background: var(--primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* navbar links style */
.nav-links ul {
  display: flex;
  align-items: center;
}
.nav-links ul li,
.link-row li {
  list-style: none;
  margin-right: 2rem;
  color: #3C354F;
}
.nav-links ul li a,
.link-row li a {
  text-decoration: none;
}

/* navbar link button style */
.nav-links ul button {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem;
  border: 0;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.button-content {
  margin-right: 1rem;
}

.nav-links ul button > .button-content,
.nav-links ul li {
  color: #3c354f;
  font-size: 1.25rem;
  font-weight: 500;
}

/* banner style */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* banner content style */

.banner-greetings {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
}
.banner-title {
  font-size: 6rem;
  font-weight: 800;
  background: var(--secondary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner ul {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.banner ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.banner li img {
  margin-right: 0.75rem;
}
/* style for banner section button */
.banner-content .button-container {
  display: flex;
}
.btn-color {
  background: var(--info-color);
  margin-left: 1.5rem;
}

/* banner image style */

.banner .banner-img{
  width: 50%;
}
.banner-img img{
  width: 100%;
}

/* online game card section style */
.online-game-content {
  text-align: center;
}
.online-game-card-container {
  display: flex;
  gap: 1rem;
}
/* overlay text */
.card-overlay {
  position: relative;
  transition: transform 1s;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  border: 3px solid #ff42a5;
  border-radius: 1rem;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
.card-overlay:hover .overlay {
  opacity: 0.9;
}
.overlay > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay p {
    font-size: 1.125rem;
    font-weight: 600;
  background: var(--primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.online-game-card > div {
  height: 50vh;
}
.online-game-card img {
  width: 100%;
  height: 100%;
}

/* feature section of game style */
.feature-container{
    display: flex;
    gap: 16.5rem;

}
.feature-content{
    text-align: right;
    margin-top: 10rem;
}
.feature-image img{
    height: 90%;
}

.feature-image .img2{
    position: relative;
    bottom: 15rem;
    right: 10rem;
}

/* career section style */



/* different game types design */
.game-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem;
  transition: 0.2s;
  border-radius: 3.125rem;
  border: 1px solid #fff;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--secondary-color);
}
.game-card:hover {
  border: 1px solid #ff42a5;
  background: var(--primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.game-types {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

/* footer section design */
footer {
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7.5rem 0;
}
.quick-links,
.social-media-links,
.privacy-policy-links {
  display: flex;
}
.quick-links {
  margin: 3.5rem 0;
}
.privacy-policy-links {
  margin: 4rem 0 1.125rem 0;
}
.link-row {
  display: flex;
}
.link-row li a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
}
.icons {
  font-size: 2.5rem;
}

.privacy-policy-links li a {
  color: rgba(255, 255, 255, 0.6);
}
footer p {
  color: rgba(255, 255, 255, 0.6);
}
