/* google fonts - Work Sens */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* universal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-gradient: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  --secondary-gradient: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --primary-color: #534c64;
  --secondary-color: #0b0223;
  --info-color: #4ec5f7;
}

/* shared  */
.container {
  max-width: 1940px;
  margin: 0 auto;
  padding: 0 15rem;
}
/* normal description */
.text-description {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 500;
}
/* primary button */
.btn-primary {
  color: #fff;
  background: var(--primary-gradient);
  border: 0;
  border-radius: 48px;
  padding: 1.25rem 2.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

/* margin top and margin bottom for each section */

/* navbar style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 15rem;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/* navbar logo section style */
.logo-container {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

/* navbar title style */
.logo-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.logo-title-initial {
  background: var(--primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* navbar links style */
.nav-links ul {
  display: flex;
  align-items: center;
}
.nav-links ul li,
.link-row li {
  list-style: none;
  margin-right: 2rem;
}
.nav-links ul li a,
.link-row li a {
  text-decoration: none;
}

/* navbar link button style */
.nav-links ul button {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem;
  border: 0;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.button-content {
  margin-right: 1rem;
}

.nav-links ul button > .button-content,
.nav-links ul li {
  color: #3c354f;
  font-size: 1.25rem;
  font-weight: 500;
}

/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* banner content style */

.banner-greetings {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
}
.banner-title {
  font-size: 6rem;
  font-weight: 800;
  background: var(--secondary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner ul {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.banner ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.banner li img {
  margin-right: 0.75rem;
}
/* style for banner section button */
.banner-content .button-container {
  display: flex;
}
.btn-color {
  background: var(--info-color);
  margin-left: 1.5rem;
}

/* banner image style */

.banner .banner-img {
  width: 50%;
}
.banner-img img {
  width: 100%;
}

/* footer section design */
footer {
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7.5rem 0;
}
.quick-links,
.social-media-links,
.privacy-policy-links {
  display: flex;
}
.quick-links {
  margin: 3.5rem 0;
}
.privacy-policy-links {
  margin: 4rem 0 1.125rem 0;
  
}
.link-row {
    display: flex;
}
.link-row li a {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
}
.icons {
    font-size: 2.5rem;
}

.privacy-policy-links li a{
    color: rgba(255, 255, 255, 0.6);
}
footer p{
    color: rgba(255, 255, 255, 0.6);
}