/* responsive for mobile device */
@media screen and (max-width: 576px) {
  /* shared */
  .text-description {
    font-size: 1rem;
  }
  /* navbar responsive */
  nav {
    flex-direction: column;
    padding: 2rem;
    box-shadow: none;
  }
  .nav-links ul {
    flex-direction: column;
  }
  .nav-links ul li {
    margin: 1rem 0;
  }
  .nav-links ul button > .button-content,
  .nav-links ul li {
    font-size: 0.8rem;
  }

  /* banner part responsive */
  .banner {
    flex-direction: column-reverse;
    padding: 2rem;
  }
  .banner-content {
    padding: 1rem;
    margin-top: 2rem;
  }

  .banner-greetings {
    font-size: 2rem;
  }
  .banner-title {
    font-size: 4rem;
  }
  .banner-content .button-container button {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
  }
  .btn-color {
    margin-left: 1rem;
  }
  .banner .banner-img {
    width: 100%;
  }
}

/* responsive for medium device */
@media screen and (min-width: 577px) and (max-width: 768px) {
  /* shared */
  .text-description {
    font-size: 1rem;
  }
  /* navbar style */
  nav,
  .banner {
    padding: 1rem;
  }
  nav .logo-container {
    gap: 1rem;
  }
  .nav-links ul li {
    margin-right: 0.5rem;
  }
  .logo-title {
    font-size: 2rem;
  }
  .nav-links ul button > .button-content,
  .nav-links ul li {
    font-size: 1rem;
  }
  .nav-links ul button {
    padding: 0.8rem;
  }
  /* banner part responsive */
  .banner-content {
    padding: 4rem;
  }

  .banner-greetings {
    font-size: 2rem;
  }
  .banner-title {
    font-size: 4rem;
  }
  .banner-content .button-container button {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
  }
  .btn-color {
    margin-left: 1rem;
  }
  .banner .banner-img {
    width: 100%;
  }
}

/* large device */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  nav, .banner{
    padding: 2rem 3rem;
  }
.banner .banner-img{
    width: 50%;
}
}
