/* responsive for mobile device */
@media screen and (max-width: 576px) {
  /* shared */
  .text-description {
    font-size: 1rem;
  }
  .section {
    margin: 1rem 0;
  }
  .section-title {
    font-size: 2rem;
  }

  .section-description {
    font-size: 1rem;
    margin: 1rem 0 1.5rem 0;
  }
  /* navbar responsive */
  nav {
    flex-direction: column;
    padding: 2rem;
    box-shadow: none;
  }
  .nav-links ul,
  .quick-links,
  .social-media-links,
  .privacy-policy-links,
  .online-game-card-container,
  .feature-container {
    flex-direction: column;
  }
  .nav-links ul li {
    margin: 1rem 0;
  }
  .nav-links ul button > .button-content,
  .nav-links ul li {
    font-size: 0.8rem;
  }

  /* banner part responsive */
  .banner {
    flex-direction: column-reverse;
    padding: 2rem;
  }
  .banner-content {
    padding: 1rem;
    margin-top: 2rem;
  }

  .banner-greetings {
    font-size: 2rem;
  }
  .banner-title {
    font-size: 4rem;
  }
  .banner-content .button-container button {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
  }
  .btn-color {
    margin-left: 1rem;
  }
  .banner .banner-img {
    width: 100%;
  }
  /* feature section responsive */
  .feature-content {
    text-align: center;
    margin-top: 1rem;
  }
  .feature-image img {
    width: 100%;
  }
  .feature-image .img1 .img2 {
    width: 100%;
  }
  .feature-image .img2 {
    width: 50%;
    position: relative;
    bottom: 5rem;
    right: 1rem;
  }

  /* different game types design */

  .game-card {
    gap: 0.3rem;
    padding: 0.3rem 0.5rem;
    border-radius: 3.125rem;
    font-size: 0.5rem;
  }
  .game-card img {
    width: 50%;
  }
  .game-type,
  .online-game,
  .feature {
    padding: 2rem 1rem;
  }
  .game-types {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
  /* footer responsive */
  /* footer section design */
  footer {
    padding: 2rem;
  }
  .quick-links,
  .social-media-links,
  .privacy-policy-links,
  .feature-container {
    gap: 0.8rem;
  }
  .link-row li a {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .icons {
    font-size: 1.5rem;
  }
  footer p {
    font-size: 0.8rem;
    text-align: center;
  }
}

/* responsive for medium device */
@media screen and (min-width: 577px) and (max-width: 768px) {
  /* shared */
  .text-description {
    font-size: 1rem;
  }
  .section {
    margin: 1rem 0;
  }
  /* navbar style */
  nav,
  .banner {
    padding: 1rem;
  }
  .logo-container {
    gap: 1rem;
  }
  .nav-links ul li {
    margin-right: 0.5rem;
  }
  .logo-title {
    font-size: 2rem;
  }
  .nav-links ul button > .button-content,
  .nav-links ul li {
    font-size: 1rem;
  }
  .nav-links ul button {
    padding: 0.8rem;
  }
  /* banner part responsive */
  .banner-content,
  .game-type,
  .online-game,
  .feature {
    padding: 4rem;
  }

  .banner-greetings {
    font-size: 2rem;
  }
  .banner-title {
    font-size: 4rem;
  }
  .banner-content .button-container button {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
  }
  .btn-color {
    margin-left: 1rem;
  }
  .banner .banner-img {
    width: 100%;
  }
  /* online game card */
  .online-game-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* feature section responsive */
  .feature-container{
    flex-direction: column;
    gap: 5rem;
  }
  .feature-content {
    text-align: center;
    margin-top: 1rem;
  }
  
  .feature-image .img2 {
    position: relative;
    bottom: 10rem;
    right: 4rem;
  }
  /* game types responsive */
  .game-types {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}

/* large device */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  nav,
  .banner,
  .online-game,
  .game-type ,
  .feature{
    padding: 2rem 3rem;
  }
  .banner .banner-img {
    width: 50%;
  }
  /* online game card */
  .online-game-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .online-game-card img {
    width: 100%;
  }
  /* feature section */
  .feature-container{
    flex-direction: column;
    gap: 5rem;
  }
  .feature-content {
    text-align: center;
    margin-top: 1rem;
  }
  .feature-image{
    margin: 0 auto;
  }
  /* game types responsive */
  .game-types {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }
}
